@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100&display=swap');

@font-face {
    font-family: HR;
    src: url("../fonts/Sriracha-Regular.ttf");
  }


.header {

    text-align: center;
    color: white;
    letter-spacing: 8px;
    font-family: 'Lexend', sans-serif;
    font-size: 50px;
}
.myBox {
    border: none;
    padding: 15px;
    font: 24px/36px sans-serif;
    width: 1000px;
    height: 750px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    overflow-x: scroll;
    color: white;
    background-color: rgba(10, 3, 48, .5);
    border-radius: 10px;
    font-family: 'Lexend', sans-serif;
    border: solid rgb(10, 3, 48)
    }
    
    /* Scrollbar styles */
    ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }
    
    ::-webkit-scrollbar-track {
    border: 1px solid rgb(10, 3, 48);
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    background: rgb(4, 2, 133);  
    width: 10px;
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: #17035f;  
    }
